{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Cereal List</title>
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>
<!-- we are in cereal_list.html -->
	<body>

	<h3>{{ cereal.name }}</h3>
	<ul>
		<li><b>Manufacturer:</b> {{ cereal.manufacturer }}</li>
		{% for fact in cereal.nutritionfacts.nutrition_list %}
			<li>{{ fact }}</li>
		{% endfor %}
	</ul>

	</body>


</html>